<%= form_for @disaster do |f| %>

    <%= f.label :title%>
    <%= f.text_field :title%><br>

    <%= f.label :category_id, "Category" %>
    <%= f.select :category_id, Category.all.map{ |x| [x.category_name, x.id] }, :prompt => "Please Select" %><br>


    <%= f.label :content, "Content"%>
    <%= f.text_field :content %><br>

   <%= f.label :post_date%>
    <%= f.date_select :post_date, :required => true %> <br>



  <%= f.submit %><br>
  <br>
  <p><%= link_to 'Back to index', disasters_url %></p>
<% end %>